table, th, td, tr{
	border: 1px solid black;
	border-collapse: collapse;
}
body{
	color: white;
	font-family: "Times New Roman", serif;
	padding-left: 10px;
	margin: 10px
	background: #323643; 
}
	
.second-color { 
	background: #606470; 
}

.third-color { 
	color: black;
	background: #93deff; 
}

.fourth-color { 
	color: black;
	background: #f7f7f7; 
}
