body{
	margin: 0px;
	font-family: "Times New Roman", Serif;
}
#grid{
	display: grid;
		grid:   
	 	'header header header' 100px
		'main  main   main'   1fr
		'footer footer footer' 160px
        	/1fr    1fr    1fr;
}

header{
	grid-area: header; 
	background-color: #13145c;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid white 2px;
}
main{
	grid-area: main;
	display: grid;
	grid:
	'image  md     md' 1fr
       	/1fr    1fr    1fr;
	border: solid white 2px;
	background-color: #19a7e1;
	padding: 20px;
}
#image{
	grid-area: image;
	overflow: hidden;
	display: flex;
	justify-content: center;
}
#md{
	grid-area: md;
	overflow: hidden;	
	padding: 20px;
}
.pa{
	text-align: center;
	color: #0000AA;
}
footer{
        grid-area: footer;
        text-align: center;
	border: solid white 2px;
	font-size: 20px;
	background-color: #13135B;
	display: flex;
	justify-content: center;
	color: white;
	align-items: center;
}
h1,h2{
	text-align: center;
	overflow: hidden;
}
a{
	text-align: center;
	color: white;
}















.cards{
	border: solid orange 5px;
	margin-top: 4px;
	margin-bottom: 4px;
	display: grid;
		grid:
		't   t   t'
		'mp  mp  d' 2fr
		'd2  d2  d' 1fr
		/1fr 1fr 1fr;	
}
.t{
	grid-area: t;
}
.mp{
	grid-area: mp;
	border: solid orange 2px;
	display: flex;
	margin: 2px;
}
.card-img{
	width: 100%;
}
.d{
	margin: 2px;
	grid-area: d;
}
.d2{
	grid-area: d2;
	margin: 2px;
	border: solid orange 2px;
}
