body{
	font-family: "Times New Roman", Serif;
	background-color: #19a7e1;
}
#grid{
	display: grid;
		grid:   
	 	'header header header' 100px
		'image  main   main'   1fr
		'footer footer footer' 160px
        	/1fr    1fr    1fr;
}

#header{
	grid-area: header; 
}
#image{
	grid-area: image;
	overflow: hidden;
	display: flex;
	justify-content: center;
}
#main{
	grid-area: main;
	overflow: hidden;
}
.cards{
	border: solid orange 5px;
	margin-top: 4px;
	margin-bottom: 4px;
	display: grid;
		grid:
		't   t   t'
		'mp  mp  d' 2fr
		'd2  d2  d' 1fr
		/1fr 1fr 1fr;	
}
.t{
	grid-area: t;
}
.mp{
	grid-area: mp;
	border: solid orange 2px;
	display: flex;
	margin: 2px;
}
.card-img{
	width: 100%;
}
.d{
	border: solid orange 2px;
	margin: 2px;
	grid-area: d;
}
.d2{
	grid-area: d2;
	margin: 2px;
	border: solid orange 2px;
}
#footer{
        grid-area: footer;
        background-color: #13145c;
	color: #FF2493;
        text-align: center;
	font-size: 20px;
        border-top: solid white 2px;
}
h1,h2{
	text-align: center;
	overflow: hidden;
}
a{
	color: #0000AA;
}
footer{
text-align: center;
}
