#grid{
	display: grid;
		grid:   
	 	'header header header' 100px
		'main   main   main'   1fr
		'footer footer footer' 160px
        	/1fr    1fr    1fr;
}

#header{
	grid-area: header; 
	display: grid;
	grid:
	'logo   menu1  menu2' 100px
	/1fr    1fr    1fr;
}
#logo{
	grid-area: logo; 
        background-color: #13145c;
        color: #FF2493;
        text-align: center;
        display: flex;
	justify-content: center;
	align-items: center;
        border-top: solid white 2px;
        border-bottom: solid white 2px;
        border-right: solid white 2px;
	font-weight: bold;
	font-size: 30px;
	font-family: "Georgia", serif;
}
#menu1{
        background-color: #13145c;
        color: #FF2493;
        text-align: center;
        display: flex;
	justify-content: center;
	align-items: center;
        border: solid white 2px;
	font-weight: bold;
	font-size: 20px;
	grid-area: menu1;
}
#menu2{
	grid-area: menu2;
        font-size: 20px;
	background-color: #13145c;
        color: #FF2493;
        display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: bold;
        border-top: solid white 2px;
        border-bottom: solid white 2px;
        border-left: solid white 2px;
}
#hero{
	grid-area: hero;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #13145c;
}
#bquote{
	color: #13145c;
	background-color: white;
	border: solid orange 3px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 20px;
}
#main{
	grid-area: main;
	display: grid;
	grid-template-columns: repeat(auto-fit, 1fr);
}
.cards{
	border: solid orange 5px;
	margin: 4px;
	display: grid;
		grid:
		't   t   t'
		'mp  mp  d' 1fr
		'd2  d2  d' 1fr
		/1fr 1fr 1fr;	
}
.t{
	grid-area: t;
}
.mp{
	grid-area: mp;
	border: solid orange 2px;
	margin: 2px;
}
.d{
	border: solid orange 2px;
	margin: 2px;
	grid-area: d;
}
.d2{
	grid-area: d2;
	margin: 2px;
	border: solid orange 2px;
}
#footer{
        grid-area: footer;
        background-color: #13145c;
	color: #FF2493;
        text-align: center;
	font-size: 20px;
        border-top: solid white 2px;
}
h1,h2{
	text-align: center;
}
a{
	color: #FF2493;
}
body{
	font-family: "Times New Roman", Serif;
}
