#grid{
	display: grid;
		grid:   
	 	'header header header' 100px
		'hero   hero   hero'   1fr
		'main   main   main'   1fr
		'footer footer footer' 160px
        	/1fr    1fr    1fr;
}

#header{
	grid-area: header; 
	display: grid;
	grid:
	'logo   menu1  menu2' 100px
	/1fr    1fr    1fr;
}
#logo{
	grid-area: logo; 
        background-color: #13145c;
        color: #FF2493;
        text-align: center;
        border: solid white 2px;
}
#menu1{
        background-color: #13145c;
        color: #FF2493;
        text-align: center;
        border: solid white 2px;
	font-weight: bold;
	vertical-align: 20%;
	font-size: 20px;
	grid-area: menu1;
}
#menu2{
	grid-area: menu2;
        font-size: 20px;
	background-color: #13145c;
        color: #FF2493;
        text-align: center;
	font-weight: bold;
        border: solid white 2px;
}
#hero{
	grid-area: hero;
	display: grid;                             
                 grid:
                 'bphoto bphoto bphoto' 1fr
                 'bphoto bquote bphoto' 1fr
                 'bphoto bphoto bphoto' 1fr
                 /1fr    1fr    1fr;
}
#bphoto{
	grid-area: bphoto;
	background-color: #13145c;
}
#bquote{
	grid-area: bquote;
	background-color: #FF2493;
}
#main{
	grid-area: main;
	display: grid;
	grid-template-columns: repeat(auto-fit, 1fr);
}
.cards{
	margin: 2px;
	border: solid orange 5px;
	display: grid;
		grid:
		't   t   t'
		'mp  mp  d' 1fr
		'd2  d2  d' 1fr
		/1fr 1fr 1fr;	
}
.t{
	grid-area: t;
}
.mp{
	grid-area: mp;
	border: solid orange 2px;
	margin: 2px;
}
.d{
	border: solid orange 2px;
	margin: 2px;
	grid-area: d;
}
.d2{
	grid-area: d2;
	margin: 2px;
	border: solid orange 2px;
}
#footer{
        grid-area: footer;
        background-color: #13145c;
	color: #FF2493;
        text-align: center;
	font-size: 20px;
        border: solid white 2px;
}
h1,h2{
	text-align: center;
}
